page-add-document {
  .toolbar-background {
    background-color: dodgerblue;
  }
  
  .scroll-content {
    background-color: #F7F7F7;
  }

  .add-btn {
    background-color: #5eb94d;
    font-size: 16px;
  }

  .pictureBtn {
    background-color: dodgerblue;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
