page-appointment {
  .toolbar-background {
    background-color: dodgerblue;
  }

  .scroll-content {
    background-color: #F7F7F7;
  }

  #noAppointment {
    text-align: center;
  }

  #warning-sign {
    margin-top: 13%;
    opacity: 0.5;
    width: 75%;
  }
}
