<ion-header>

  <ion-navbar>
    <ion-title>
      <font style="color: white; letter-spacing: 1.5px">Détails du document</font>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <h1 id="docTitle" style="color: #3e7fef">{{obj.name}}</h1>
    <p>Date : {{obj.date | date: 'dd/MM/yyyy' }}</p>
    <p class="details">Nature : {{obj.DocumentNature.label}}</p>
    <p class="details">Source : {{obj.DocumentSource.label}}</p>
    <p class="details">Type : {{obj.DocumentType.label}}</p>
    <div *ngIf="obj.DocumentTypeId == 1">
      <img class="content" src="{{obj.fileUrl}}" />
      <br>
      <button ion-button block (click)="downloadDocument()">Télécharger le document</button>
    </div>
    <div *ngIf="obj.DocumentTypeId == 2">
      <p class="content">{{obj.textContent}}</p>

    </div>
    <div class="content" *ngIf="obj.DocumentTypeId == 3">
      <br>
      <button ion-button block (click)="downloadDocument()">Télécharger le document</button>
    </div>

  </ion-item>
</ion-content>
