page-add-appointment {
  .toolbar-background {
    background-color: dodgerblue;
  }

  #addBtn2 {
    margin-top: -25px;
    background-color: dodgerblue;
  }

  .scroll-content {
    background-color: #F7F7F7;
  }
}
