<ion-header>
  <ion-navbar>
    <ion-title>
      <font style="color: white; letter-spacing: 1.5px">Docteurs</font>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="doctorList && doctorList.length > 0; else addDoctor">
    <div *ngFor="let speciality of typeList">

      <ion-list-header id="header-list">
        {{speciality.label}}
      </ion-list-header>
      <ion-item-sliding *ngFor="let doctor of doctorList | doctorpipe:speciality.id">
        <ion-item>
          <ion-avatar item-left>
            <img src="../../assets/img/default_pp.png">
          </ion-avatar>
          <h2>Dr. {{ doctor.lastName }}</h2>
          <p><small>{{ doctor.address }}</small></p>
          <ion-note item-right><small>{{ doctor.phone }}</small></ion-note>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="delete(doctor.id)" icon-left>
            <ion-icon name="trash"></ion-icon>
            Supprimer
          </button>
          <button ion-button color="primary" icon-left>
            <ion-icon name="create"></ion-icon>
            Modifier
          </button>
          <button ion-button color="secondary" (click)="call(doctor.phone)" icon-left>
            <ion-icon name="call"></ion-icon>
            Appeler
          </button>
        </ion-item-options>
      </ion-item-sliding><br/>
    </div>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini (click)="redirection_addDoctor()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ng-template #addDoctor>
    <div id="noDoctors">
      <img src="../assets/img/sign-warning-icon.png" id="warning-sign"/>
      <p><strong>Aucun médecin</strong><br/><br/><small>Veuillez ajouter un médecin à l'aide du bouton ci-dessous.</small></p>
    </div>
  </ng-template>
</ion-content>
