page-doctor {
  .toolbar-background {
    background-color: #7DC5F2;
  }
  
  .scroll-content {
  //   background: url('../../assets/img/test2.jpg') no-repeat center center fixed;
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;
  //   overflow: visible !important;
  background-color: #F7F7F7;
  }

  #header-list {
    position: relative;
    top: 12px;
  }

  #noDoctors {
    text-align: center;
  }

  #warning-sign {
    margin-top: 13%;
    opacity: 0.5;
    width: 75%;
  }
}
